div{
    text-align: center;
}

input{
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

button{
    padding: 10px;
    background-color: #BE95C4;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 9px;
}